<br><br><br>
<div class="container mt-5" >

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
<!--      <h1 align="center"  class="text-primary" style="font-family: 'Times New Roman'"><strong>Register As a Shopkeeper</strong></h1>-->
      <div class="card z-depth-5">
        <button  type="button" mdbBtn color="primary" mdbWavesEffect>Sing up As a Shopkeeper</button>

        <!--Card content-->
        <div class="card-body px-lg-5" >

          <form class="text-center" >

            <div class="md-form form-sm mt-3">
              <input mdbInput type="email" id="form1" class="form-control form-control-sm" name="name" ngModel>
              <label for="form1" class="">Name</label>
            </div>

            <div class="md-form form-sm mt-3">
              <input mdbInput type="email" id="form2" class="form-control form-control-sm" name="email" ngModel>
              <label for="form2" class="">Email</label>
            </div>

            <div class="md-form form-sm mt-3">
              <input mdbInput type="email" id="form3" class="form-control form-control-sm" name="address" ngModel>
              <label for="form3" class="">Address</label>
            </div>

            <div class="md-form form-sm mt-3">
              <input mdbInput type="date" id="form8" class="form-control form-control-sm" name="dob" ngModel>
              <label for="form8" class="">Date of Birth</label>
            </div>

            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" value="male" class="custom-control-input" id="defaultInline1" name="gender" ngModel  mdbInput>
              <label class="custom-control-label" for="defaultInline1">Male</label>
            </div>

            <!-- Default inline 2-->
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" value="female" class="custom-control-input" id="defaultInline2" name="gender" ngModel  mdbInput>
              <label class="custom-control-label" for="defaultInline2">Female</label>
            </div>

            <div class="md-form form-sm ">
              <input mdbInput type="file" id="form5" class="form-control form-control-sm" name="image_name" ngModel>
            </div>

            <div class="md-form form-sm mt-3">
              <input mdbInput type="password" id="form6" class="form-control form-control-sm" name="password" ngModel>
              <label for="form6" class="">Password</label>
            </div>

            <div class="md-form form-sm mt-3">
              <input mdbInput type="password" id="form7" class="form-control form-control-sm" name="con_password" ngModel>
              <label for="form7" class="">Confirmation Password</label>
            </div>

            <button type="reset" class="float-left" mdbBtn color="warning" mdbWavesEffect>Reset</button>
            <button type="submit" class="float-right" mdbBtn color="primary" mdbWavesEffect>Sing up</button>

          </form>
          <!-- Form -->

        </div>

      </div>

    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<br><br><br><br>

