<br><br>
<div class="container-fluid mt-5">
<div class="row">
  <div class="col-md-8">
    <mdb-card>
      <!--Card image-->

      <!--Card content-->
      <mdb-card-body>

        <!--Title-->
        <mdb-card-title>
          <h4>Question 1</h4>
        </mdb-card-title>

        <!--Text-->
        <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
          content.Some quick example text to build on the card title and make up the bulk of the card's
          content.Some quick example text to build on the card title and make up the bulk of the card's
          content.Some quick example text to build on the card title and make up the bulk of the card's
          content.
        </mdb-card-text>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" value="male" class="custom-control-input" id="defaultInline1" name="gender" ngModel  mdbInput>
          <label class="custom-control-label" for="defaultInline1">Male</label>
        </div>
        <br>
        <!-- Default inline 2-->
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" value="female" class="custom-control-input" id="defaultInline2" name="gender" ngModel  mdbInput>
          <label class="custom-control-label" for="defaultInline2">Female</label>
        </div>
        <br>
        <br>

        <a href="#" mdbBtn color="warning" class="float-left" mdbWavesEffect>Prev</a>
        <a href="#" mdbBtn color="primary" class="float-right" mdbWavesEffect>Next</a>
      </mdb-card-body>
    </mdb-card>
  </div>
  <div class="col-md-4">
    <mdb-card>
      <mdb-card-body>
        <mdb-card-title>
          <h4>Quiz Navigation</h4>
        </mdb-card-title>

        <!--Text-->
        <mdb-card-text>
          <button type="button" size="sm" mdbBtn color="primary" mdbWavesEffect>1</button>
          <button type="button" size="sm" mdbBtn color="primary" mdbWavesEffect>1</button>
          <button type="button" size="sm" mdbBtn color="primary" mdbWavesEffect>1</button>
          <button type="button" size="sm" mdbBtn color="primary" mdbWavesEffect>1</button>
          <button type="button" size="sm" mdbBtn color="primary" mdbWavesEffect>1</button>
          <button type="button" size="sm" mdbBtn color="primary" mdbWavesEffect>1</button>
        </mdb-card-text>
        <a href="www.gmail.com">Finish Exam</a>
      </mdb-card-body>
    </mdb-card>
  </div>
</div>
</div>
